{{page-title "History"}}

<div class="flex-1 container p-8 sm:p-0 mx-auto">
  <div class="sm:p-12 sm:m-12">
    <h1 class="text-3xl text-center mb-8">Work Experience</h1>
    <div class="flex-col relative py-12">
      <div class="invisible lg:visible bg-red-200 h-full w-1 absolute left-0 right-0 top-0 m-auto">
        <span class="absolute left-0 top-0 w-2 h-2 rounded-full bg-red-400 -ml-0.5"></span>
        <span class="absolute left-0 bottom-0 w-2 h-2 rounded-full bg-red-400 -ml-0.5"></span>
      </div>

      <div class="flex flex-row flex-wrap">
        {{#each this.model.jobs as |job|}}
          <Ui::JobInfo
            @date={{job.date}}
            @name={{job.name}}
            @position={{job.position}}
            @description={{job.description}}
            @skills={{job.skills}}
            @isRight={{job.isRight}}
          />
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{outlet}}
